/* Write your code here. */
.list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px #d7dae6 solid;
  margin-top: 25px;
  border-radius: 20px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-size: 25px;
  color: #52606d;
  font-weight: 500;
}
.answer {
  font-size: 20px;
  color: #9aa5b1;
  border: 2px #e4e7eb solid;
  margin-top: 0px;
  padding-top: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
}
@media screen and (max-width: 576px) {
  .question {
    font-size: 18px;
  }
  .answer {
    font-size: 16px;
  }
  .list {
    width: 100%;
    margin-top: 20px;
  }
}
